<div class="form-container">
  

  <form class="total-form" action="/auth/login" method="POST">
  <h2 class="form-title">Log In</h2>
    <label class="form-label"> Username:
      <br>
      <input class="imput-field-form" type="text" name="username" placeholder="Your username" />
    </label>
    <br>
    <br>

    <label class="form-label"> Email:
      <br>
      <input class="imput-field-form"type="email" name="email" placeholder="Your email" />
    </label>
    <br>
    <br>

    <label class="form-label"> Password:
      <br>
      <input class="imput-field-form" type="password" name="password" placeholder="Your password" />
    </label>
    <br>
    <br>
    <button class="form-button" type="submit">Log In</button>
    </form>
</div>
<br>
    <br>
<div class="form-error-container">
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</div>

