{{!-- this file is only shown whenever there is an error during log out --}}
<div class ="form-error-container">
{{#if errorMessage}}
    {{errorMessage}}
{{/if}}
</div>



class ="total-form"
class ="form-container"
class ="form-title"
class ="imput-field-form"
class ="form-button"
