

<div class="form-container">
  <form class="total-form" action="/auth/signup" method="POST">
  <h2 class="form-title">Sign Up</h2>
  <br>
    <label class="form-label"> Username<br>
      <input class="imput-field-form" type="text" name="username" placeholder="Your username" />
    </label>
  <br>
    <label class="form-label"> Email<br>
      <input class="imput-field-form" type="email" name="email    ." placeholder="Your email" />
    </label>
  <br>
    <label class="form-label"> Password<br>
      <input class="imput-field-form" type="password" name="password" placeholder="Your password" />
    </label>
  <br>
  <br>
    <button class ="form-button" type="submit">Sign Up</button>
    </form>
    </div>
<div class="form-error-container"></div>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  
</div>