<h1>{{appTitle}} 🚀</h1>
<div><p>(Banner Image Placeholder)</p></div>
<div><span>
Welcome to Lisbon Street Art, the online community for street art enthusiasts in Lisbon, Portugal! Our platform allows users to discover and share the vibrant and dynamic street art scene of Lisbon, one of Europe's most colorful and culturally rich cities.
<br><br>
Our mission is to celebrate the creativity and ingenuity of Lisbon's street artists by creating a space for people to discover and appreciate their work. We invite you to explore the city's hidden corners, uncovering stunning works of art that can be found on walls, buildings, and alleyways all over Lisbon.
<br><br>
With our user-friendly interface, it's easy to upload your own pictures of street art and share the location with fellow enthusiasts. Whether you're a local resident or a tourist visiting the city, our platform makes it easy to connect with like-minded individuals and share your passion for street art.
<br><br>
Join our community today and discover the vibrant world of Lisbon street art!
<div><a href="/auth/signup">Sign Up</a> <a href="/auth/login">Log in</a></div>
</span></div>
<div>LATEST PHOTOS</div>
<div>TOP RATED PHOTOS</div>