<section class="fullscreen-section5">
<br>
<div class="form-container">
<form class ="total-form" action="/edit-user-profile/{{userInSession._id}}" method="post" enctype="multipart/form-data">
<h2 class ="form-title">Edit Profile</h2>
<br>

    <label class="form-label">Username: 
      <br>
      <input class ="imput-field-form"type="text" name="username" value="{{userInSession.username}}"></label>
      <br><br>
    <label class="form-label">About:
      <br>
      <textarea class ="imput-field-form"name="about" cols="30" rows="4"></textarea></label>
      <br><br>
    <label class="form-label">Profile picture:
      <br>
      <input class ="imput-field-form" type="file" name="imageUrl" value="{{userInSession.imageUrl}}"/></label>
    <br>
    <button class ="form-button"type="submit">Submit</button>
    </form>
</div>

</section>
