body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.container-fluid{
  width: 80%;

}

.navbar-bar{
  align-items: end;
  justify-content: end;
  display: flex;
  flex-direction: end;
}


.navbar-brand{
  font-size: 3rem;
  font-weight: bolder
}

.navbar-nav {
  margin-left: 20px;
  color: #ed564b;
}

.nav-link :hover {

 color: #ed564b;
}

.w-100{
filter: grayscale(100%);
}




