@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400&display=swap');

body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

h1 {
  color: 2rem;
}

.total-form {
  background-color: rgb(240, 240, 240);
  padding: 20px 5%;
  border-radius: 10px;
}

.form-container {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container2 {
  margin-top: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-title {
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 2px;
  color: rgb(124, 124, 124);
}

.imput-field-form {
  border-radius: 5px;
  border-color: rgb(138, 43, 226);
  border: #7e7e7e solid 2px;
  padding: 10px;
  width: 200px;
}

.form-button {
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0px;
  color: white;
  font-weight: bolder;
  background-color: rgb(138, 43, 226);
}

.form-error-container {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.navbar-nav {
  margin-left: 20px;
  color: #c7c7c7;
}

.nav-link {
  font-weight: bolder;
  color: #7e7e7e;
}

.read-more {
  font-weight: bold;
  padding: 5px 25px;
  color: white;
  background-color: rgb(126, 126, 126, 0.4);
  border: 2px solid white;
}

.link-button {
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 0px;
  color: white;
  background-color: rgb(138, 43, 226);
  text-decoration: none;
}

.stars-image {
  width: 40%;
}

.section {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.each-photo-div {
  width: 15%;
}

.gallery-title {
  font-weight: bolder;
  padding: 30px 25px 10px 25px;
  color: rgb(124, 124, 124);
}

.photo-details-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.a-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.all-radios {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-center;
  justify-content: space-around;
}

.single-radio {
  margin: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.total-form-route {
  text-align: center;
  background-color: rgb(240, 240, 240);
  padding: 20px 5%;
  border-radius: 10px;
}

.carousel-item {
  width: 100%;
  height: 450px;
}

.carousel-img {
  max-width: 40rem;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-div-index {
  height: 450px;
}

.latest-header {
  color: white;
  text-shadow: 1px 1px 2px #000000;
}

.toprated-header {
  color: #000000;
  text-shadow: 1px 1px 2px #7e7e7e;
}

.carousel-descriptions {
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

.community-title {
  font-weight: bolder;
  padding: 30px 25px 10px 25px;
  color: rgb(124, 124, 124);
}