body {
  
  font: 14px "Lucinda Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: 2rem;
}

.total-form {
  background-color: rgb(240, 240, 240);
  padding: 20px 5%;
  border-radius: 10px;
}

.form-container{
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container2{
  margin-top: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-title{
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 2px;
   color: rgb(124, 124, 124);
}

.imput-field-form{
  border-radius: 5px;
  border-color: rgb(138, 43, 226);
  border: #7e7e7e solid 2px;
  padding: 10px;
  width: 200px
}

.form-button{
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0px;
  color: white;
  font-weight: bolder;
  background-color: rgb(138, 43, 226);
}

.form-error-container{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.navbar-nav {
  margin-left: 20px;
  color: #c7c7c7;
}

.nav-link {
  font-weight: bolder;
 color: #7e7e7e;
}

.read-more{
  font-weight: bold;
  padding: 5px 25px;
  color: white;
  background-color: rgb(126, 126, 126, 0.4);
  border: 2px solid white;
}

.link-button{
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 0px;
  color: white;
  background-color: rgb(138, 43, 226);
}

.stars-image{
 width: 40%;
}

.section{
  width: 80%;
  display: inline-flex;
  flex-direction: row;
  align-items:left;
  justify-content: center;
}

.each-photo-div {
  width: 20%;
}

.gallery-title{
  font-weight: bolder;
  padding: 30px 25px 10px 25px;
   color: rgb(124, 124, 124);
}

.photo-details-container{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



