<h1 class="gallery-title">Community:</h1>
<br>

<div class="reduce">
<div class="section-community">



  {{#each community}}
  <div class="width-percentage"> 
  <h5 class="community-names">{{username}}</h5>
  <br>
  <img class="rounded-circle" style="width: 5rem" src="{{imageUrl}}">
  <br><br>
  <h6 class="bold">About:</h6>
  <p class="total-width-percentage">{{about}}</p>
  <br><br>
  </div>
  {{/each}}
</div>

</div>

