<section class="fullscreen-section2">
<br>
<div class="form-container photo">

<form class="total-form-route" action="/create-your-route" method="post" target="_blank">
<h3 class="form-title">Create Your<br>WallkAround Route</h3><br><br>
<h5>Not sure where to go?<br>
    Try out 2 of our suggestions,<br>
    you choose how:</h5><br>

<div class="all-radios">
<div class="single-radio">
<img src="/images/icon1.png"><br>
<input type="radio" id="itenerary" value="random" name="itenerary" ><br>
<label for="random">100% Random</label><br>
</div>

<div class="single-radio">
<img src="/images/icon3.png"><br>
<input type="radio" id="itenerary" value="fav" name="itenerary" ><br>
<label for="fav">Your Favorites</label><br>
</div>

<div class="single-radio">
<img src="/images/icon4.png"><br>
<input type="radio" id="itenerary" value="rated" name="itenerary" ><br>
<label for="rated">Top Rated</label><br>
</div>
<br><br>
</div>


<h5>And how are you visiting?</h5>
<br>
<div class="all-radios">
<div class="single-radio">
<img src="/images/icon6.png"><br>
<input type="radio" id="ride" value="w" name="ride" ><br>
<label for="walk">I'm Walking<br>!</label><br>
</div>

<div class="single-radio">
<img src="/images/icon7.png"><br>
<input type="radio" id="ride" value="b" name="ride" ><br>
<label for="bike">I'm taking<br>my Bicycle</label><br>
</div>

<div class="single-radio">
<img src="/images/icon5.png"><br>
<input type="radio" id="ride" value="r" name="ride" ><br>
<label for="transport">I'm taking Public<br>Transportation</label><br>
</div>
</div>
<br>
<button class ="form-button" type="submit">View your Route in Google Maps!</button>
</form>
</div>
<br>
</section>


