
<br>

<h2>Submit a Photo</h2>

<form action="/photos/submit" method="post" enctype="multipart/form-data">
    <label>Title:<input type="text" name="title"/></label>
    <label>Author:<input type="text" name="author"/></label>
    <label>Description:<textarea name="description" cols="30" rows="4"></textarea></label>
    <label>Location:<input type="text" name="location"/></label>
    <label>Image:<input type="file" name="imageUrl"/></label>
    <button type="submit">Submit</button>
</form>
